# Core
fastapi
uvicorn[standard]
jinja2

# API & Scraping
httpx
beautifulsoup4

# Configuration & Settings
python-dotenv
pydantic-settings

# Formatting
black
flake8
isort
djlint

# Testing
pytest
pytest-asyncio